.battlepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
}

.editor, .description {
  width: 50%;
  height: 400px;
  box-sizing: border-box;
}
.description{
  background-color: rgb(73, 71, 71);
}
.buttonContainer, .testcases {
  margin-top: 1rem;
}

.buttonContainer button{
  float: left;
}